*.docx
*.o
*.aux
*.log
*.out
*.gz
*.pdf
Homework1/mm
Homework1/Resources/axpy
Homework1/Resources/jacobi_openmp
Homework1/Resources/matvec
Homework1/Resources/mm_openmp
Homework1/Resources/omp_hello
Homework1/Resources/sum
Homework1/Resources/sum_openmp
Homework1/matvec
Homework1/OpenCV/opencv_hist
Homework1/Resources/mm
Homework1/Matrix/mm_3
Homework1/Matrix/mm_0
Homework1/Matrix/matvec_3
Homework1/Matrix/matvec_0
Homework1/Assignment_1/build
Homework1/OpenCV/opencv_smooth
Homework2/Matrix/jacobi
Homework2/Matrix/jacobi2
Homework2/OpenCV/data/
Homework2/OpenCV/opencv_batch
Homework2/OpenCV/opencv_hist
Homework2/OpenCV/opencv_smooth
